@import './../../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.disable {
  color: #c1e0fd;
}

.bold {
  font-weight: 800;
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;

  div {
    width: 33%;
  }

  /* nav__logo */
  &__logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 5vw;
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }

  &__text {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
  }

  /* nav__search */
  &__search {
    display: flex;
    justify-content: center;

    &__input {
      width: 15vw;
      height: 2.3vh;
      border: 1px solid #dbdbdb;
      background-color: #fafafa;
    }

    &__input:focus {
      outline: none;
    }

    &__input::placeholder {
      color: #dbdbdb;
      text-align: center;
    }
  }

  /* nav__side-icons */
  &__side-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;

    .icons {
      margin: 5px;
    }
  }
}

/* main */
.main {
  display: flex;
  justify-content: center;
  height: 120vh;
  padding-left: 10vw;
  background-color: #fafafa;

  &__feeds {
    display: flex;
    flex-direction: column;
    width: 420px;
  }

  // main__stories
  &__stories {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    margin-top: 40px;
    border: 1px solid #dbdbdb;
    background-color: white;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding-left: 20px;

      span {
        margin-top: 5px;
        font-size: 11px;
      }
    }
  }

  // main__article
  &__article {
    width: 400px;
    margin-top: 40px;
    border: 1px solid #dbdbdb;
    background-color: white;

    // main__article__header
    &__header {
      display: flex;
      align-items: center;

      &__profile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
      }

      .profile-pic {
        border: 2px solid #ff5a9a;
        border-radius: 50%;
      }

      &__nickname {
        display: flex;
        align-items: center;
        width: auto;
        height: 60px;
        font-weight: 600;
      }

      &__more {
        width: 30px;
        height: 60px;
      }
    }

    // main__article__media
    &__media {
      height: 200px;
      overflow: hidden;
    }

    #media {
      width: 400px;
    }

    // main-article-reaction
    &__reaction {
      display: flex;
      align-items: center;
      height: 45px;
      padding-left: 5px;
    }

    .reaction-icons {
      margin-left: 10px;
    }

    #reaction-bookmark-icon {
      margin-left: 65%;
    }

    // main__article__comment
    &__comment {
      display: flex;
      flex-direction: column;
      height: 155px;
      padding: 10px 15px;
      font-size: 15px;
      font-weight: 600;
    }

    .comment-list {
      margin: 10px 0px;

      li {
        position: relative;
        margin-bottom: 5px;
      }

      .comment-icon:first-child {
        margin-left: 10px;
      }

      .comment-icon:last-child {
        position: absolute;
        right: 0px;
        margin-left: 10px;
      }
    }

    // main__article__comment-input
    &__comment-input {
      display: flex;
      height: 50px;
      border-top: 0.5px solid #dbdbdb;
    }

    .smile-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;

      #smile {
        width: 30px;
      }
    }

    .comment-form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 370px;

      form {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      form input {
        width: 280px;
        border: none;
      }

      form input:focus {
        outline: none;
      }

      form input::placeholder {
        color: #828282;
      }

      form button {
        width: 60px;
        border: none;
        background-color: inherit;
        color: #0395f6;
        font-size: 13px;
        /* disabled if input have no value */
      }
    }
  }

  /* main__right */
  &__right {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 40vh;
    margin-right: 5vw;

    &__profile {
      display: flex;
      position: relative;
      align-items: center;
      width: 250px;
      height: 70px;
      margin-top: 40px;

      &__pic img {
        width: 50px;
        margin: 10px;
        border: 1px solid #dbdbdb;
        border-radius: 50%;
      }

      &__name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .profile-id {
        margin: 1px 0px;
        font-size: 14px;
        font-weight: 600;
      }

      .profile-name {
        margin: 1px 0px;
        color: #8e8e8e;
        font-size: 14px;
      }

      &__change-btn {
        position: absolute;
        right: 0px;
      }

      &__change-btn button {
        border: none;
        background-color: #fafafa;
        color: #0395f6;
      }
    }
    /* main suggestions */
    &__suggestions {
      width: 250px;
      height: 30vh;
      margin-top: 20px;
      padding: 0px 10px;

      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30px;
      }

      &__title span:first-child {
        color: #8e8e8e;
        font-size: 14px;
      }

      &__title span:last-child {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
}
