.loginBorder {
  /* loginBorder를 가운데로 위치 */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 30px;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(222, 221, 221);
  text-align: center;

  .font {
    margin: 30px;
    font-family: 'Lobster';
    font-size: 50px;
  }

  .inputBox {
    margin-top: 70px;
    margin-bottom: 15px;

    input {
      width: 300px;
      height: 45px;
      margin: 5px;
      padding: 10px;
      border: 1.5px solid rgb(226, 226, 226);
      border-radius: 5px;
      background-color: rgb(245, 245, 245);
      font-size: 15px;
    }
  }

  button {
    width: 300px;
    height: 45px;
    margin-bottom: 130px;
    border-style: none;
    border-radius: 5px;
    background-color: #b7d9ff;
    color: white;
    font-size: 17px;
    cursor: pointer;
  }

  /* 활성화 button 색깔 scss */
  .activeButton {
    background-color: blue;
  }

  a {
    font-size: 15px;
    text-decoration-line: none;
  }
}
